VITE_SUPABAS_URL=https://adjifwfblbdkypmeqiay.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFkamlmd2ZibGJka3lwbWVxaWF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwNDYxOTEsImV4cCI6MjA5ODYyMjE5MX0.S6_dG6b54yV3JRpxBEgyhNfUepKeygI96r2ALxzi2UU
VITE_PAYPAL_CLIENT_ID=Ab7t1z36FAGMSEdkMT5Wmo3KO1THmcDFkeUpE3UTs2_qBKNlZJPcaC1CQMKe2NXbXmprjN9_T0xcolWs        
VITE_PAYPAL_CLIENT_SECRET=EPdBnNoIF1NSGgjZO4dHA9tadxeAYOoLuJA9fSBb-gF2v8OzbAaIdQCeKtv3pB59BcgYQpbA0zK4Bcmk  
VITE_PAYPAL_MODE=live              