VITE_SUPABASE_URL=https://tovzpzpimvwaldqkkmmi.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_7xrbGSfbi50Q_TWVhs1CRA_hEh_lVbG
VITE_PAYPAL_CLIENT_ID=Ab7t1z36FAGMSEdkMT5Wmo3KO1THmcDFkeUpE3UTs2_qBKNlZJPcaC1CQMKe2NXbXmprjN9_T0xcolWs        
VITE_PAYPAL_CLIENT_SECRET=EPdBnNoIF1NSGgjZO4dHA9tadxeAYOoLuJA9fSBb-gF2v8OzbAaIdQCeKtv3pB59BcgYQpbA0zK4Bcmk  
VITE_PAYPAL_MODE=live              